<div class="col-md-12">
    <h1 ng-bind="title"></h1>
</div>
<div class="col-md-3 col-md-offset-3">
    <label>Search by</label>
   <input type="text" ng-model="type" class="form-control" placeholder="author or title"/>
</div>

<div class="col-md-12">
    <div class="col-md-4" ng-repeat="post in models.posts | filter: type: false track by $index">
        <h2 ng-bind="post.title"></h2>
        <h5>
            <span class="text-mute" ng-bind="post.author"></span>
            <span class="text-mute" ng-bind="post.postDate"></span>
        </h5>
        <p ng-bind="post.body"></p>
        <button class="btn btn-sm btn-primary" ng-click="upVote(post)"><i class="glyphicon glyphicon-thumbs-up"></i> {{post.upvotes}}</button>
        <button class="btn btn-sm btn-danger" ng-click="downVote(post)"><i class="glyphicon glyphicon-thumbs-down"></i> {{post.downvotes}}</button>
        <subscribe-button ng-model="post.subscribed" ng-click="subscribe(post.author)"></subscribe-button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" ng-repeat="p in postMothers track by $index">
            <h2 class="text-danger" ng-bind="p.title_plain"></h2>
        </div>
    </div>
</div>